@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;

		--show-ui: 0;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground overflow-hidden;
	}

	.shadow-extend {
		box-shadow: 0px 0px 0px 9px var(--tw-shadow-color);
	}

	.text-shadow {
		text-shadow: 0.5px 0.5px 1px #000;
	}

	.outline-button {
		@apply border border-[rgb(64,64,64)]  hover:border-[rgb(91,91,91)] bg-[rgb(38,38,38)] hover:bg-[rgb(50,50,50)]  rounded-[4px]  h-5 flex gap-x-1 px-0.5 pl-1 items-center text-white/80 hover:text-white;
	}

	.default-button {
		@apply hover:bg-white/10  rounded-[3px] h-5 px-1.5 flex items-center justify-center text-white/80 hover:text-white;
	}

	.default-button-text {
		@apply text-[0.7rem] text-shadow;
	}

	.outline-button-text {
		@apply flex-1 text-[0.7rem] !min-w-0 truncate text-shadow;
	}

	.icon {
		@apply w-[1.15rem] h-[1.15rem] stroke-[1px];
	}
}
